# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Spring application config
src/main/resources/application.properties
src/main/resources/application.yml
src/main/resources/application.yaml